<template>
  <div>
    <a-row type="flex">
      <a-col :span="6">
        <a-input-search placeholder="请输入搜索关键词" enter-button />
      </a-col>
      <a-col :span="4" :offset="14">
        <a-button type="primary" icon="plus"> 添加用户 </a-button>
      </a-col>
    </a-row>
  </div>
</template>
<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";
import { Mixin } from "@/utils/mixin";
@Component({
  components: {},
})
export default class UserList extends Mixins(Mixin) {
  public key = "";
  public pager: acl.Pagination<acl.User> = {
    pageNumber: 1,
    pageSize: 15,
    pageCount: 0,
    recordCount: 0,
    dataList: [],
  };
  public user: acl.User = { name: "" };
  public loading = false;
  public expandedRowKeys: string[] = [];

  test(): void {
    console.log(1);
    this.$api.aclApi.user.add({ name: "111" }, ({ data }) => {
      console.log(data);
    });
  }
}
</script>
<style lang="less" scoped></style>
