<template>
  <a-dropdown v-if="currentUser && currentUser.name" placement="bottomRight">
    <span class="ant-pro-account-avatar">
      <a-avatar
        size="small"
        src="https://gw.alipayobjects.com/zos/antfincdn/XAosXuNZyF/BiazfanxmamNRoxxVxka.png"
        class="antd-pro-global-header-index-avatar"
      />
      <span>{{ currentUser.name }}</span>
    </span>
    <template #overlay>
      <a-menu class="ant-pro-drop-down menu" :selected-keys="[]">
        <a-menu-item v-if="menu" key="center" @click="handleToCenter">
          <a-icon type="user" />
          {{ t("usercenter") }}
        </a-menu-item>
        <a-menu-item v-if="menu" key="settings" @click="handleToSettings">
          <a-icon type="setting" />
          {{ t("usercenter.setting") }}
        </a-menu-item>
        <a-menu-divider v-if="menu" />
        <a-menu-item key="logout" @click="handleLogout">
          <a-icon type="logout" />
          {{ t("usercenter.logout") }}
        </a-menu-item>
      </a-menu>
    </template>
  </a-dropdown>
  <span v-else>
    <a-spin size="small" :style="{ marginLeft: 8, marginRight: 8 }" />
  </span>
</template>
<script lang="ts">
import { Component, Mixins, Prop } from "vue-property-decorator";
import { Modal } from "ant-design-vue";
import { i18nRender } from "@/locales";
import { I18nMixin } from "@/utils/mixin";

@Component({
  components: {},
})
export default class AvatarDropdown extends Mixins(I18nMixin) {
  @Prop({
    type: Object,
    default: () => null,
  })
  private currentUser!: Record<string, unknown>;

  @Prop({
    type: Boolean,
    default: true,
  })
  private menu!: string;

  handleToCenter(): void {
    this.$router.push({ path: "/account/center" });
  }

  handleToSettings(): void {
    this.$router.push({ path: "/account/settings" });
  }

  handleLogout(): void {
    Modal.confirm({
      title: i18nRender("layouts.usermenu.dialog.title"),
      content: i18nRender("layouts.usermenu.dialog.content"),
      onOk: () => {
        // return new Promise((resolve, reject) => {
        //   setTimeout(Math.random() > 0.5 ? resolve : reject, 1500)
        // }).catch(() => console.log('Oops errors!'))
        return this.$store.dispatch("Logout").then(() => {
          this.$router.push({ name: "login" });
        });
      },
    });
  }
}
</script>
<style lang="less" scoped>
.ant-pro-drop-down {
  /deep/ .action {
    margin-right: 8px;
  }
  /deep/ .ant-dropdown-menu-item {
    min-width: 160px;
  }
}
</style>
